@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <h2 style="text-align:center">Admin Login</h2>

    <div class="mt-5" style="display: flex; justify-content: center;">
        <form method="Post" action="~/AdminAuthorization/AdminLogin">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="EmpEmail">

            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="EmpPassword">
            </div>
            <div class="mb-3 form-check">
                <a href="#" class="form-check-label" for="exampleCheck1">Forgot Password</a>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

}
